# R and RStudio
.Rhistory
.RData
.Rproj.user/

# Environment files
.Renviron

# MacOS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Package directories
packrat/
.Rproj.user/

# Shiny cache (if you add Shiny later)
rsconnect/

# Python virtualenv (if ever used)
venv/
